.login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: auto;
    padding: 3rem 2rem 3rem 2rem;
  
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  
    border-radius: 15px;
    border-color:lightgray !important;
}

.login-container h1 {
    text-align: center;
}

.below-button {
    text-align: center;
}

/*
 * The list of rows (or the page content) doesn't cover the bottom part of the page
 * (so that buttons for editing and publishing do not cover the rows).
 * Keep the scrolling functionality while hiding the scrollbar.
 * Source: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
 */

.pages-list, .page-view-container {
    height: calc(100vh - 150px); /* maybe not portable, but it works */
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.pages-list::-webkit-scrollbar, .page-view-container::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.pages-list, .page-view-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}



.page-row {
    background-color:whitesmoke;
    box-shadow: 5px 5px 5px rgba(34, 35, 58, 0.2);
    margin-right: 5px; /* just to see the shadow even if there is the invisible scroll-bar covering it */
}

.page-row:hover {
    cursor: pointer;
    background-color: rgb(222, 239, 253);
}

.page-row.no-hover:hover {
    cursor:default;
}

.page-row:hover h4 {
    color: #0d6efd;
}

.page-row small {
    color: rgb(68, 68, 68);
}

.fixed-right-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1030;
    margin: 0 3rem 1rem 0;
    border-radius: 50%;
}

.fixed-left-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1030;
    margin: 0 0 1rem 3rem;
}

.page-view-container h1, address {
    text-align: center;
}

.page-view-container .page-date {
    text-align: right;
}

.circular-button {
    border-radius: 50%;
}

.page-row-btn, .page-row-date {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.view-image {
    max-width: 20vw;
    max-height: auto;
}

.carousel-img {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 20rem;
    width: 30rem;
}

.bi-person-circle {
    font-size: 24px;
}

.block-position {
    display: flex;
    justify-items: center;
    align-items: center;
    font-weight: bold;
}

.block-type {
    font-weight: bold;
}
